@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100&display=swap');
/* Some global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: white;
  font-family: 'raleway', "Gluten", "cursive";
}
.wrapper {
  max-width: 1980px;
  min-width: 360px;
}

/* Header and navigationsmenu */

header {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgb(240, 237, 237);
}
.back-button{
  display: none;
}

.logo {
  font-size: 20px;
  color: #ff5c58;
  padding: 2em;
  border-radius: 90%;
  background-color: rgb(240, 237, 237);
}

nav {
  width: 50%;
  height: 100%;
  font-size: 25px;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center !important;
}

nav ul li {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 1s;
}

nav ul li:hover {
  transform: scale(1.4);
}
nav ul li a {
  text-decoration: none;
  color: #ff5c58;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* a drop down option in the navigationsmenu */
.dropdown .drop {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: rgb(240, 237, 237);
  min-width: 160px;
}
.dropdown i{
  margin-left: 3px;
}

.dropdown-content a {
  color: #ff5c58;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: small;
}

.dropdown-content a:hover {
  animation-name: drop-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes drop-down {
  0%{transform: scale(1.1);}
  50%{transform: scale(1.3);}
  100%{transform: scale(1.1);}
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header{
  border-bottom: 1px solid #E2E8F0;
  display: none;
}

.navbar {
  display: flex;
  
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #f97371;
}

.nav-link:hover{
  animation-name: hamlink; 
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
/* Main container with a background picture */

.main-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1em;
  background-image: url("media/img/ananas:klippt.jpg");
  background-size: cover;
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-container h1{
  margin-top: -100px;
}
.button-container {
  position: fixed;
  padding: 10px;
  bottom: 5%;
  display: flex;
  flex-direction: column;  
}
.button-container i {
  color: #ff5c58;
  font-size: large;
  margin-top: 1em;
}
.button-container i:hover {
  animation-name: knapp;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes knapp {
  0%{transform: scale(1.5);}
  50%{transform: scale(1.9);}
  100%{transform: scale(1.5);}
  
}
.main-container h1 {
  position: relative;
  color: #ffb319;
  font-size: 80px;
  line-height: 0.9;
}
.main-container p {
  color: #ff5c58;
  font-size: 25px;
}
.main-container span {
  display: block;
}

/* About us section with pics and text */

.about-us-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ff5c58;
  background-color: rgb(240, 237, 237);
  height: 90vh;
}
.about-us-bild {
  width: 30%;
  padding: 3em;
  display: flex;
  justify-content: center;
}
.about-us-bild img {
  height: auto;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  margin-left: 4px;
  margin-left: 4px;
  border: solid #fcd2d1 1px;
}
.about-us-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  padding: 2em;
  text-align: center;
  line-height: 1.5em;
  font-size: large;
}
.about-us-text h2 {
  margin-bottom: 2em;
  border-bottom: #f97371 solid;
  width: 100%;
}
/* A container with 3 cards, some content and a button on each card */

.enkla-kort-container {
  width: 100%;
  height: 90vh;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgb(240, 237, 237), #f97371, rgb(240, 237, 237));
}
.enkel-kort {
  width: 25%;
  height: 70vh;
  border: solid #fcd2d1 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(media/img/slush.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  position: relative;
  transition: 1s;
  
}
.enkel-kort::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(152, 150, 150, 0.5);
  z-index: 0;
}
.enkel-kort-1 {
  width: 25%;
  height: 70vh;
  border: solid #fcd2d1 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(media/img/lemonjuicee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  position: relative;
  transition: 1s;
}
.enkel-kort-1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(152, 150, 150, 0.5);
  z-index: 0;
}
.enkel-kort-2 {
  width: 25%;
  height: 70vh;
  border: solid #fcd2d1 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(media/img/fräscht.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 2em;
  position: relative;
  transition: 1s;
}
.enkel-kort-2::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(152, 150, 150, 0.5);
  z-index: 0;
}
.enkel-kort > *, .enkel-kort-1 > *, .enkel-kort-2 > * {
  z-index: 1;
  color: black;
  text-align: center;
  line-height: 1.5em;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
}
.enkel-kort:hover,
.enkel-kort-1:hover,
.enkel-kort-2:hover {
  transform: scale(1.08);
}
.enkla-kort-container button {
  width: 80px;
  height: 30px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border:#e7e6e1 solid 1px;
  border-radius: 20px;
  color: #23036d;
}
.enkla-kort-container h3{
  font-size: xx-large;
}
.enkla-kort-container a {
  text-decoration: none;
}
.enkla-kort-container button:hover {
  animation-name: button;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes button {
  0% {transform: rotate(10deg);}
  50%{transform: rotate(-10deg);}
  100%{transform: rotate(10deg);}
  
}
/* A container with info on where to find us and opening hours */

.stora-kort-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(240, 237, 237);
  padding-top: 1em;
  padding-bottom: 1em;
  height: 90vh;
  background: linear-gradient(rgb(240, 237, 237), #9b1715, rgb(240, 237, 237));
}
.text-ruta{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  text-align: center;
  font-size: 1.5em;
  text-shadow: #FC0 1px 0 10px;
  color: #e7e6e1;
}

.red-card {
  width: 60vh;
  height: 60vh;
  border-radius: 50%;
  transition: 450ms;
  background-image: url(media/img/melon.jpg);
  background-size: cover;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: solid #fcd2d1 1px;
}
.red-card span {
  display: block;
  align-content: center;
  font-weight: bold;
  text-align: center;
}
.red-card p{
  display: none;
  color: #e7e6e1;
  font-size: 2em;
  text-shadow: #FC0 1px 0 10px;
}
.red-card h3{
  color: #e7e6e1;
  font-size: 3em;
  text-shadow: #FC0 1px 0 10px;
}
.red-card:hover{
  background-image: url(media/img/reed.png);
}
.red-card:hover p{
  display: block;
}
.red-card:hover h3{
  display: none;
}

.kort-content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  font-size: large;
  flex-wrap: wrap;
  padding: 2em;
}


/* parallax scroll effects */

.första-parallax-bakgrunden {
  padding: 10em;
  background-image: url(media/img/blodapelsin.jpg);
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.andra-parallax-bakgrunden {
  display: flex;
  justify-content: center;
  font-family: "Cinzel", serif;
  color: rgb(231, 230, 225);
  font-size: large;
  padding: 10em;
  background-image: url(media/img/jordgubbimjölk.jpg);
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CSS STYLE FOR CONTACT US PAGE */

/* Contact us container */

.contact-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(240, 237, 237);
  padding-bottom: 2em;
  height: auto;
  padding-top: 4em;

}

.hamburger{
  display:none;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: solid #fcd2d1 1px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #ff5c58;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}

.container {
  border-radius: 5px;
  background-color: #fcd2d1;
  padding: 20px;
  width: 50%;
  text-align: center;
}
.contact-us-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f97371;
  font-size: 20px;
  padding-top: 2em;
  margin-bottom: 2em;
}
/* footer */
footer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f97371;
  color: white;
}
.adress-footer p {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.5em;
  text-align: center;
}
.tel-footer p {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.5em;
  text-align: center;
}
.open-footer p {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.5em;
  text-align: center;
}
@keyframes hamlink {
  0%{transform: rotate(10deg);}
  50%{transform: rotate(0deg);}
  100%{transform: rotate(10deg);}
}
.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}
/* Responsive design for smallter screens */

@media only screen and (max-width: 768px){
  /* header % nav for mobile */
header{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  nav li:not(:first-child){
    width: 100%;
    display: none;
  }
  nav .icon {
    display: block;
  }
  .logo{
    background-color: transparent;
    display: none;
  }
  .back-button {
    display: block;
    padding: 0.7em;
    background-color: #f97371;
    color: #fff;
  }
  header .back-button{
    position: absolute;
    left: 0;
  }
  header a {
    text-decoration: none;
  }
  /* main container */
  .main-container{
    background-image: url(media/img/ananas.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }
  /* about us container */
  .about-us-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .about-us-bild{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .about-us-text{
    width: 100%;
  }
  /* a container with 3 cards for mobile */
  .enkla-kort-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .enkel-kort, .enkel-kort-1, .enkel-kort-2{
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
  }

/* a section with some info about where to find us*/
  .red-card{
    display: none;
  }
  .text-ruta {
    color: white;
    text-shadow: none;
  }
  .contact-us-container, .container{
    width: 100%;
  }
  /* footer for mobile */
  footer {
    width: 100%;
    height: auto;
    padding: 1em;
  }
  /* the hamburger for responsive menu */
  .hamburger{
    display: block;
    cursor: pointer;
    left: 10px;
    position: absolute;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.header{
  display:flex;
  background-color: transparent;
  border-bottom: none;
  position: sticky;
  
}
.nav-menu {
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
}

#logo{
  background-color: transparent;
} 

.nav-menu.active {
left: 0;
top:0;  
opacity:0.9;
}

li{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  animation-name: hamburger;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes hamburger {
  0% {transform: scale(1.01);}
  50% {transform: scale(1.0);}
  100% {transform: scale(1.01);}
  
}

.body-blur{
  filter: blur(2px);
  background-color: transparent;

}

.nav-item {
  margin: 2.5rem 0;
}

.nav_link{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

nav{
  display: none;
}

.h1text{
  display: none;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.enkel-kort, .enkel-kort-1, .enkel-kort-2{
  font-size: 5px;
}
}






